<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookshelf</title>
</head>
<body>
<h1>Bookshelf</h1>
<div>
    <h2>Available Books</h2>

    <!-- Display message if there are no books -->
    <div th:if="${books.isEmpty()}">
        <p>No books available!</p>
    </div>

    <!-- Display books list if books are available -->
    <div th:unless="${books.isEmpty()}">
        <ul>
            <li th:each="book : ${books}">
                <h3 th:text="${book.name}"></h3>
                <p>Author: <span th:text="${book.author}"></span></p>
                <p>Genre: <span th:text="${book.genre}"></span></p>
                <p>Cost: $<span th:text="${book.cost}"></span></p>
                <p>Release Date: <span th:text="${book.date}"></span></p>
            </li>
        </ul>
    </div>
</div>
</body>
</html>